<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'list/style.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="http://localhost:8000/home/">HOME</a>
        <a class="navbar-brand" href="http://localhost:8000/list/">LIST</a>
        <a class="navbar-brand" href="http://localhost:8000/create/">CREATE</a>
    </nav>
    <div class="container">
        {% if user %}
        <table class="table mt-3">
            <thead class="mytable">
                <tr>
                    <th>Personal Data</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h5>first name</h5>
                    </td>
                    <td>
                        <h6>{{user.first_name}}</h6>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>last name</h5>
                    </td>
                    <td>
                        <h6>{{user.last_name}}</h6>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Telephon number</h5>
                    </td>
                    <td>
                        <h6>{{user.phone}}</h6>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Email Address</h5>
                    </td>
                    <td>
                        <h6>{{user.email}}</h6>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> Address</h5>
                    </td>
                    <td>
                        <h6>{{user.addres}}</h6>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>توضیحات</h5>
                    </td>
                    <td>
                        <h6>{{user.description}}</h6>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <a href="update/" class="btn btn-info">update</a>
            <a href="delete/" class="btn btn-danger" style="margin-left:10px">delete</a>
        </div>
        {% endif %}
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>