<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <nav class="navbar navbar-dark bg-danger mt-4">
                    <a class="navbar-brand" href="#">Personal Data</a>
                </nav>
                <div class="card mt-2">
                    <form method='POST'>{% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="fieldWrapper">
                            {{ form.first_name.errors }}
                            <label for="{{ form.first_name.id_for.label }}">First name</label>
                            {{ form.first_name }}
                        </div>
                        <div class="fieldWrapper">
                            {{ form.last_name.errors }}
                            <label for="{{ form.last_name.id_for.label }}">Last name</label>
                            {{ form.last_name }}
                        </div>
                        <div class="fieldWrapper">
                            {{ form.email.errors }}
                            <label for="{{ form.email.id_for.label }}">Email</label>
                            {{ form.email }}
                        </div>
                        <div class="fieldWrapper">
                            {{ form.phone.errors }}
                            <label for="{{ form.phone.id_for.label }}">Phone</label>
                            {{ form.phone }}
                        </div>
                        <div class="fieldWrapper">
                            {{ form.address.errors }}
                            <label for="{{ form.address.id_for.label }}">Address</label>
                            {{ form.address }}
                        </div>
                        <div class="fieldWrapper">
                            {{ form.description.errors }}
                            <label for="{{ form.description.id_for.label }}">Description</label>
                            {{ form.description }}
                        </div>
                        <button type="submit" class="btn btn-danger m-4">submit</button>
                    </form>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>



    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>